// $font-color: rgb(223, 48, 185);
// $font-alternative-color: rgb(77, 187, 119);
// $accent-color: #8d6055;
// $background-color: #a934f7;
// $background-alternative-color: #e3a500;
// $text-size: 1.1em;

// $font-color: rgb(36, 3, 29);
// $font-alternative-color: rgb(59, 3, 30);
// $accent-color: #ee6c4d;
// $background-color: #f1ecf1;
// $background-color-shift: #ffc7f5;
// $background-darker-color: #b379a8;
// $light-pink: #ffe0f9;
// $light-green: #d3ffc7;
// $dark-green: #78b368;
//npm run style
// $font-color: #a2a2a2;
$font-color: #c0b7c7;
$font-alternative-color: #a579c9;
$code-snippet-back-color: #33164a;
$accent-color: #ee6c4d;
$background-color: #785893;
$background-color-shift: #785893;
$background-darker-color: #33164a;
$footer: #33164a;
$darkest-color: #663b5e;
$light-pink: #ffe0f9;
$light-green: #d3ffc7;
$dark-green: #78b368;
$greyscale: 35%;
$filter-degree: 0;
$mouse-logo-filter: 261deg;
$text-size: 1.1em;
