$font-color: rgb(36, 3, 29);
$font-alternative-color: rgb(59, 3, 30);
$accent-color: #ee6c4d;
$background-color: #f1ecf1;
$background-color-shift: #ffc7f5;
$background-darker-color: #b379a8;
$darkest-color: #663b5e;
$footer: #ffe0f9;
$light-green: #d3ffc7;
$dark-green: #78b368;
$greyscale: 0;
$filterDegree: 309deg;
$mouseLogoFilter: 85deg;
// $background-alternative-color: #e3a500;
$text-size: 1.1em;

//npm run style
// BCFAAA
// BCFAAA
// FAAAEB
// FFC7F4
// AD65A0

// $font-color: rgb(36, 3, 29);
// $font-alternative-color: rgb(59, 3, 30);
// $accent-color: #ee6c4d;
// $background-color: #faece5;
// $background-color-shift: #faa9eb;
// $background-darker-color: #ff9a9a;
// $background-alternative-color: #e3a500;
// $text-size: 1.1em;
