.latin-quote {
    font-size: 2.2em;
    display: flex;
    font-family: "Alex Brush", cursive;
    justify-content: center;
}

.footer {
    display: flex;
    margin-top: auto;
    padding: $vertical-rhythm;
    max-width: 100%;
    justify-content: space-evenly;
    // background: linear-gradient(to top ,darken(#c5c5c5, 5) 10%, darken(#f8f7f7, 5) 85%, );
    background-color: darken(#c5c5c5, 1);
    overflow-y: hidden;
    gap: 0.7rem;
}

.contact {
    display: flex;
    flex-direction: column;

    p {
        margin-bottom: 0;
    }
    img {
        width: ($base-font-size + 0.15rem);
    }
}

.social {
    display: flex;
    flex-direction: row;
}
