@media screen and (max-width: 767px) {
    .four-grid2 {
        // display: grid;
        // grid-template-rows: 1fr 1fr 1fr 1fr;
        // grid-template-columns: 1fr;
        
        
        background-color: rgb(187, 140, 156);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        
        width: 80%;
        img {
            width: 100%;
        }
    }

}
.four-grid2 {
    background-color: rgba(248, 247, 247, 0.3);
    display: grid;
    grid-template-rows: auto    ;
    gap: $vertical-rhythm;
    grid-template-columns: 0.8fr 1.2fr;
    width: 66rem;
    margin-bottom: $vertical-rhythm;
    overflow: hidden;
    padding: $vertical-rhythm;
    border-right: solid 1px darken(#c5c5c5, 5) ;
    align-items: center;
    // background: linear-gradient(#c5c5c5 85%, 90deg #f8f7f7 30%);
    img {
        object-fit: cover;
        width: 100%;
        max-height: 100%;
        border-radius: 0.3rem;
    }
}

.four-grid {
    background-color: aqua;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 66rem;
    margin-bottom: $vertical-rhythm;
    img {
        width: 100%;
    }
}
@media screen and (max-width: 767px) {
    .four-grid {
        // display: grid;
        // grid-template-rows: 1fr 1fr 1fr 1fr;
        // grid-template-columns: 1fr;
        
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        
        width: 80%;
        img {
            width: 100%;
        }
    }
}
.top-grid-text {
    align-items: start;
}