// Old colors
$font-color: rgb(36, 3, 29);
$font-alternative-color: rgb(59, 3, 30);
$accent-color: #ee6c4d;
$background-color: #f1ecf1;
$code-snippet-back-color: #f1ecf1;
$background-color-shift: #ffc7f5;
$background-darker-color: #b379a8;
$darkest-color: #663b5e;
$footer: #ffe0f9;
$light-green: #d3ffc7;
$dark-green: #78b368;
$greyscale: 0;
$filter-degree: 309deg;
$mouse-logo-filter: 85deg;

// Colors
$light-gold: #f7ee9c;
$darker-gold: #b08746;
$darkest-gold: #96692e;
$font-color-black: #333;
$dark-blue: #29326d;


// Typography
$base-line-height: 1.4;
$base-font-size: 1.25rem;
$vertical-rhythm: $base-line-height * $base-font-size;