<div class="screen-width">
<body>
{% include 'incl/header.twig' %}
    <div id="navbar">
        {% include 'incl/nav.twig' %} 
    </div>
        <div class="main" role="main">
            {% if meta.sidebar %}
                <div class="singletech">
                    <div class="sidebar">
                    {% for page in pages("technology") if page.title and not page.hidden %}
                        <li{% if page.id==current_page.id %} class="active" {% endif %}>
                            <a href="{{ page.url }}">{{ page.title }}</a>
                        </li>
                    {% endfor %}
                    </div>
                    <div class="techinfo">
                        {{ content }}
                    </div>
                </div>
            {% endif %}

        {% if meta.title == "Technologies" %}
            <div class="landingpage">
                {{ content }}
            </div>
        {% endif %}
        </div>
        {% include 'incl/footer.twig' %}
    </body>
</div> 
</html>
